@model AutoMapperDemo.Web.Areas.Scheduling.Models.ProgramViewModel

@{
    ViewBag.Title = "Programs and Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Programs &amp; Parts</h2>

<p>Program Id: @Model.ProgramId</p>
<p>Program Name: @Model.ProgramName</p>
<p>Program Description: @Model.Description</p>
<p>Part Name: @Model.PartName</p>